@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --blue600: #3B7CD3;
    --blue500: #5E96FC;
    --blue400: #92C1FF;
    --blue300: #B7D6FF;
    --blue200: #C9E0FF;
    --blue100: #DEECFF;
    --grey600: #7B7C88;
    --grey500: #ACADB9;
    --grey300: #D5D6DC;
    --grey200: #EAEBED;
    --grey100: #F5F5F6;
    --black: #232134;
}

body {
    margin: 0;
    min-width: 320px;
    color: var(--black);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
